.contact-banner-section{
    height: 100vh;
    width: 100%;
    background-image: url(../images/about-page-bg.webp);
}

.contact-banner-section .inner-container{
    width: 100%;
    height: 100%;
    background-color: #00064840;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.contact-banner-section .content-container{
    width: 1000px;
    height: 500px;
    background-color: #27272785;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 1px solid #cbcbcbad;
    display: grid;
    grid-template-columns: 40% 60%
}

.contact-banner-section .content-container .image-container{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.contact-banner-section .content-container .image-container .image{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: url(../images/contact-page-img.webp);
}

.contact-banner-section .content-container .details-container{
    padding: 20px;
    height: 100%;
    overflow: auto;
}

.contact-banner-section .content-container .details-container::-webkit-scrollbar {
  width: 5px;
}

/* Track */
 .contact-banner-section .content-container .details-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
 
/* Handle */
.contact-banner-section .content-container .details-container::-webkit-scrollbar-thumb {
  background: #fafafab9; 
  border-radius: 10px;
}

.form-main-container .form-title{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.form-main-container .input-field{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #ffffff85;
    color: #000;
}

.form-main-container .input-field:focus{
    outline: 0;
}

.form-main-container .input-field::placeholder{
    color: #000;
}

.form-main-container .submit-btn{
    width: 100%;
    padding: 10px;
    background-color: var(--theme-color-1);
    border-radius: 10px;
    border: 0;
}
.form-main-container .input-field.textarea{
    height: 100px;
}

/* *************************** */
/*         Media Queries      */
/* ************************* */

/* Large laptop */
@media screen and (max-width:1400px) {
}
/* Small laptop */
@media screen and (max-width:1200px) {
}
/* Tablet */
@media screen and (max-width:992px) {
    .contact-banner-section .content-container{
        width: 95vw;
    }
}
@media screen and (max-width:768px) {  
    .contact-banner-section .content-container{
        width: 95vw;
        height: auto;
        grid-template-columns: 100%;
    }

    .contact-banner-section .content-container .image-container{
        display: none;
    }
}
/* Large mobile */
@media screen and (max-width:576px) {  
}
/* Small mobile */
@media screen and (max-width:375px) {
}
@media screen and (max-width:320px) {
}

/* *************************** */
/*         Media Queries END     */
/* ************************* */