/* Google fonts CDN */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --theme-color-1: #A7CD39;
    --theme-color-2: #E52328;
    --main-heading-font: "DM Sans", sans-serif;
    --body-text-font: "DM Sans", sans-serif;
    --std-padding: 40px;
    --header-height: 100px;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--body-text-font);
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.padding-x {
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.clickable-text {
    color: #0057FF;
    cursor: pointer;
}

.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-text {
    font-size: 18px;
    color: #252525;
    margin-bottom: 0;
}

.bg-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-title-container {
    text-align: center;
}

.section-title-container .section-title {
    font-size: 36px;
    font-weight: 500;
    position: relative;
    width: fit-content;
    margin: auto;
    margin-bottom: 0;
}

.section-title-container .section-title::before {
    content: '';
    width: 200px;
    height: 3px;
    background-color: var(--theme-color-1);
    position: absolute;
    bottom: 10px;
    right: 110%;
}

.section-title-container .section-title::after {
    content: '';
    width: 200px;
    height: 3px;
    background-color: var(--theme-color-2);
    position: absolute;
    bottom: 10px;
    left: 110%;
}

.unfilled-theme-btn-1 {
    font-size: 20px;
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    i {
        margin-left: 10px;
        font-size: 20px;
        rotate: 45deg;
        transition: all 0.2s ease-in-out;
    }
}

.unfilled-theme-btn-1:hover {
    color: var(--theme-color-1);

    i {
        color: var(--theme-color-1);
        rotate: 0deg;
        animation: leftToRight 1s infinite linear;
    }
}


.unfilled-light-theme-btn-1 {
    font-size: 20px;
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    i {
        margin-left: 10px;
        font-size: 20px;
        rotate: 45deg;
        transition: all 0.2s ease-in-out;
    }
}

.unfilled-light-theme-btn-1:hover {
    color: var(--theme-color-1);

    i {
        color: var(--theme-color-1);
        rotate: 0deg;
        animation: leftToRight 1s infinite linear;
    }
}

@keyframes leftToRight {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(0px);
    }

    75% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
}

/* Header start */
.header-main-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.93) 8%, rgba(0, 0, 0, 0.67) 50%, rgba(0, 0, 0, 0) 100%);
}

.header-main-container .inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-main-container .logo-container {
    height: 60px;

    .logo {
        height: 100%;
    }
}

.header-main-container .navbar-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-main-container .navbar-container .item {
    padding: 0 20px;
}

.header-main-container .navbar-container .link {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}
.header-main-container .navbar-container .link:hover{
    color: var(--theme-color-1);
}
.header-main-container .navbar-container .link.active{
    color: var(--theme-color-1);
    font-weight: 600;
}

/* Header end */


/* Footer start */
.footer-main-container {
    background-image: url(../images/footer-bg.jpg);
    /* border-radius: 50px 50px 0 0; */
    overflow: hidden;
}

.footer-main-container .inner-container {
    background-color: #000000b5;
    padding: 30px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.footer-main-container .form-main-container .form-title {
    color: #FAFAFA;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.footer-main-container .form-main-container .input {
    margin-bottom: 5px;
    background-color: #fafafad6;
    font-size: 16px;
    padding: 4px 10px;
    border-radius: 5px;
    border: 0;
    width: 100%;
    color: #000;
}

.footer-main-container .form-main-container .submit-btn {
    background-color: var(--theme-color-1);
    width: 100%;
    padding: 4px;
    border-radius: 5px;
}

.footer-main-container .details-container {
    padding-left: 40px;
}

.footer-main-container .details-container .title-text {
    font-family: "Jura", sans-serif;
    color: #fafafad6;
    font-size: 35px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 30px;

    .logo {
        height: 40px;
        margin-left: 20px;
    }
}

.footer-main-container .contact-item {
    display: flex;
    justify-content: start;
    align-items: start;

    .icon {
        background-color: transparent;
        color: #fafafad6;
        border: 0;
        font-size: 20px;
    }

    .text {
        color: #fafafad6;
        margin-bottom: 0;
        font-size: 20px;
        margin-left: 10px;
    }
}

/* Footer end */