.packages-banner-section {
    height: 100vh;
    width: 100%;
    background-image: url(../images/about-page-bg.webp);
}

.packages-banner-section .inner-container {
    width: 100%;
    height: 100%;
    background-color: #0000007d;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.packages-banner-section .content-container {
    width: 1000px;
    height: 500px;
}

.packages-carousel-container {
    margin-top: 20px;
}

.packages-carousel-container .item {
    padding: 80px 40px;
    transition: all 0.4s;
}

.packages-carousel-container .slick-current .item {
    scale: 1.3;
}

.packages-carousel-container .item .inner-container {
    background-color: #ffffff36;
    border-radius: 20px;
    border: 1px solid #fff;
    padding: 10px;
}

.packages-carousel-container .item .image-container {
    height: 250px !important;
    background-image: url(../images/carousel-image-1.webp);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: end;
    overflow: hidden;
    padding: 0 !important;
}

.packages-carousel-container .item .image-container .details {
    background-color: #000000b2;
    padding: 5px;
    border-radius: 10px;
    transform: translateY(+100%);
    transition: all 0.4s;
}

.packages-carousel-container .slick-current .item .image-container .details {
    transform: translateY(0);
}

.packages-carousel-container .item .image-container .details .title {
    font-size: 14px;
    color: var(--theme-color-1);
    margin-bottom: 0;
    margin-right: 10px;
}

.packages-carousel-container .item .image-container .details .data {
    font-size: 10px;
    color: #fff;
    font-weight: 200;
}

.packages-banner-section .item .view-more-btn {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 5px;
    font-size: 12px;
    color: #fff;

    i {
        rotate: 45deg;
    }
}

.packages-banner-section .item .country-name {
    text-align: center;
    font-size: 24px;
    color: #fff;
    visibility: hidden;
    font-weight: 600;
}

.packages-banner-section .slick-current .item .country-name {
    visibility: visible;
}

.packages-carousel-container .slick-btn {
    position: absolute;
    top: 40%;
    z-index: 10;
    background-color: transparent;
    border: 0;
}

.packages-carousel-container .slick-btn.nextBtn {
    right: 0;
}

.packages-carousel-container .slick-btn.prevBtn {
    left: 0;
}


/* Package details */

.package-details-container {
    height: 100%;
    width: 100%;
    background-color: #27272785;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 1px solid #cbcbcbad;
    display: grid;
    grid-template-columns: 40% 60%;
}

.packages-banner-section .content-container .image-container {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.packages-banner-section .content-container .image-container .image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.packages-banner-section .content-container .details-container {
    padding: 20px;
    height: 100%;
    overflow: auto;
}

.packages-banner-section .content-container .details-container::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.packages-banner-section .content-container .details-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

/* Handle */
.packages-banner-section .content-container .details-container::-webkit-scrollbar-thumb {
    background: #fafafab9;
    border-radius: 10px;
}

.packages-banner-section .content-container .details-container .item {
    margin-bottom: 10px;
}

.packages-banner-section .content-container .details-container .item .title {
    margin-bottom: 0px;
    color: #fff;
    font-size: 26px;
    font-weight: 500;
}

.packages-banner-section .content-container .details-container .item .data {
    font-size: 16px;
    color: #fff;
    font-weight: 200;
}

.packages-banner-section .content-container .details-container .item .close-btn {
    background: transparent;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    border: 1px solid #fff;
}

/* *************************** */
/*         Media Queries      */
/* ************************* */

/* Large laptop */
@media screen and (max-width:1400px) {}

/* Small laptop */
@media screen and (max-width:1200px) {}

/* Tablet */
@media screen and (max-width:992px) {
    .packages-banner-section .content-container {
        width: 95vw;
    }
}

@media screen and (max-width:768px) {
    .packages-banner-section .content-container {
        width: 95vw;
        height: 600px;
    }

    .packages-carousel-container .slick-current .item {
        scale: 1;
    }

    .packages-carousel-container .item .image-container {
        height: 400px !important;
    }
    .packages-carousel-container{
        margin-top: 0;
    }
    .packages-carousel-container .item{
        padding: 60px 0;
    }

    .packages-carousel-container .slick-btn{
        top: unset;
        bottom: 40px;
    }
    .packages-carousel-container .item .image-container .details{
        padding: 10px;
    }
    .packages-carousel-container .item .image-container .details .data{
        font-size: 14px;
    }

    .packages-carousel-container .item .image-container .details .title{
        font-size: 18px;
    }

    .package-details-container{
        grid-template-columns: 100%;
    }

    .packages-banner-section .content-container .image-container .image{
        height: 250px;
    }

    .packages-banner-section .content-container .image-container{
        order: 2;
    }
}

/* Large mobile */
@media screen and (max-width:576px) {}

/* Small mobile */
@media screen and (max-width:375px) {}

@media screen and (max-width:320px) {}

/* *************************** */
/*         Media Queries END     */
/* ************************* */