.home-banner-section {
    height: 100vh;
    width: 100%;
    padding: 15px;
}

.home-banner-section .inner-container {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;
}

.home-banner-section .carousels-grid-container {
    display: grid;
    grid-template-columns: 66% 34%;
    height: 100%;
    width: 100%;
}

.home-banner-section .carousels-grid-container .carousel-one-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.home-banner-section .carousels-grid-container .carousel-one-container .overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.212);
    backdrop-filter: blur(0px);
    padding: 70px 40px;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.home-banner-section .carousels-grid-container .carousel-one-container .overlay-container .label {
    font-size: 20px;
    color: #fff;
    height: auto;
    margin-bottom: 0;
}

.home-banner-section .carousels-grid-container .carousel-one-container .overlay-container .main-title {
    font-size: 80px;
    font-weight: 800;
    color: #ffffffe6;
    height: auto;
    margin-bottom: 0;
    line-height: 90px;
}

.home-banner-section .carousel-one-container * {
    height: 100%;
}

.home-banner-section .item-carousel {
    will-change: transform;
    backface-visibility: hidden;
    perspective: 1000px;
}

.home-banner-section .image {
    will-change: transform;
    backface-visibility: hidden;
}

.home-banner-section .right-carousel-main-container {
    height: 70%;
}

.home-banner-section .right-carousel-main-container .right-grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}

.home-banner-section .right-carousel-main-container .right-grid-container .carousel-two-container {
    width: 100%;
    height: 100%;
}

.home-banner-section .right-grid-container * {
    height: 100%;
}

.home-banner-section .right-carousel-main-container .right-grid-container .carousel-three-container {
    width: 100%;
    height: 100%;
}

.home-banner-section .details-carousel-main-container {
    padding: 10px;
    position: relative;
}

.home-banner-section .details-carousel-main-container .banner-details-carousel {
    margin-bottom: 0;
}

.home-banner-section .details-carousel-main-container .banner-details-carousel .item .title {
    margin-bottom: 0;
    font-size: 30px;
    padding-top: 35px;
}

.home-banner-section .details-carousel-main-container .banner-details-carousel .item .description {
    margin-bottom: 0;
    font-size: 14px;
}

.home-banner-section .banner-details-carousel .slick-btn {
    position: absolute;
    top: 0;
    left: 50%;
    border: 0;
    background-color: white;
    z-index: 5;
    cursor: pointer;
}

.home-banner-section .banner-details-carousel .slick-btn:focus {
    outline: none;
}

.home-banner-section .banner-details-carousel .slick-btn.nextBtn {
    left: auto;
    right: 0;
}

.home-banner-section .banner-details-carousel .slick-btn.nextBtn:after {
    content: '';
    width: 50px;
    border-top: 2px dashed var(--theme-color-1);
    position: absolute;
    top: 50%;
    right: 120%;
}

.home-banner-section .banner-details-carousel .slick-btn.prevBtn {
    right: auto;
    left: 0;
}

.home-banner-section .banner-details-carousel .slick-btn.prevBtn:after {
    content: '';
    width: 50px;
    border-top: 2px dashed var(--theme-color-1);
    position: absolute;
    top: 50%;
    left: 120%;
}

.home-banner-section .banner-details-carousel .slick-dots {
    bottom: auto;
    top: 0;
}

.slick-dots li.slick-active button:before {
    color: var(--theme-color-1);
    opacity: 1;
}

.slick-dots li button:before {
    font-size: 10px;
}

.home-tours-section .tours-carousel {
    position: relative;
}

.home-tours-section .tours-carousel .item {
    height: 250px;
    padding: 0 25px;
    margin: 50px 0;
    transition: all 0.3s linear;
    will-change: transform;
    backface-visibility: hidden;
    perspective: 1000px;
}

.home-tours-section .tours-carousel .item .image {
    height: 100%;
    width: 100%;
    border: 15px solid rgb(240, 240, 240);
    border-radius: 20px;
    display: flex;
    align-items: end;
    will-change: transform;
    backface-visibility: hidden;
}

.home-tours-section .tours-carousel .item .image .title-container{
    text-align: center;
    background-color: #000000be;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.home-tours-section .tours-carousel .item .image .title-container .title{
    margin-bottom: 0;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.home-tours-section .tours-carousel .slick-current .item {
    scale: 1.4;
}

.home-tours-section .tours-carousel .slick-btn {
    position: absolute;
    bottom: -20px;
    right: 0;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 20px;
    border: 0;
    z-index: 3;
    font-weight: 200;
}

.home-tours-section .tours-carousel .slick-btn.nextBtn {
    right: 0;
}

.home-tours-section .tours-carousel .slick-btn.prevBtn {
    right: 60px;
}

.visas-grid-container {
    display: grid;
    grid-template-columns: 30% 65%;
    column-gap: 5%;
}

.visa-titles-carousel .item .title-container {
    cursor: pointer;
    padding: 20px 0;
}

.visa-titles-carousel .item .title-container .title {
    color: #fff;
    padding: 20px 30px;
    background-color: #000;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.3s linear;
    margin-bottom: 0;
}

.visa-titles-carousel .slick-current .item .title-container .title {
    background-color: var(--theme-color-1);
}

.visa-values-carousel .item {
    padding: 20px 0;
}

.visa-values-carousel .contries-list{
    padding-left: 15px;
}

.visa-values-carousel .item .title {
    font-size: 22px;
    font-weight: 600;
}

.visa-values-carousel .item .map-image {
    height: 400px;
    margin: auto;
}


.home-offer-section .offer-grid-container {
    display: grid;
    grid-template-columns: 40% 60%;
    border: 2px solid var(--theme-color-1);
    border-radius: 30px;
}

.offer-grid-container .image-container .image {
    height: 100%;
    border-radius: 30px;
}

.offer-grid-container .details-container {
    padding: 30px 40px;
}

.offer-grid-container .details-container .title-1 {
    font-size: 60px;
    font-weight: 700;
    color: var(--theme-color-1);
    margin-bottom: 0px;
    text-transform: uppercase;
}

.offer-grid-container .details-container .title-2 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 0;

    .color {
        color: var(--theme-color-1);
    }
}